@{
    ViewBag.Title = "Home Page";
}

<!-- Mainmenu-Area -->
<nav class="navbar mainmenu-area" data-spy="affix" data-offset-top="197">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="search-box" class="collapse">
                    <form action="#">
                        <input type="search" class="form-control" placeholder="What do you want to know?">
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="navbar-header smoth">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainmenu">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#home-area">Ox</a>
                </div>
                <div class="collapse navbar-collapse navbar-right" id="mainmenu">
                    <ul class="nav navbar-nav navbar-right help-menu">
                        <li><a href=""><i class="icofont icofont-user-alt-4"></i></a></li>
                        <li><a href="#search-box" data-toggle="collapse"><i class="icofont icofont-search-alt-2"></i></a></li>
                        <li class="select-cuntry">
                            <select name="counter" id="counter">
                                <option value="ENG">ENG</option>
                                <option value="VIE">VIE</option>
                            </select>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav primary-menu">
                        <li class="active"><a href="#home-area">Home</a></li>
                        <li><a href="#about-area">Overview</a></li>
                        <li><a href="#service-area">Service</a></li>
                        <li><a href="#skill-area">Skills</a></li>
                        <li><a href="#contact-area">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- Mainmenu-Area-/ -->
<!--Header-Area-->
<header class="header-area overlay" id="home-area">
    <div class="vcenter">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-md-8">
                    <div class="header-text">
                        <h2 class="header-title wow fadeInUp">Welcom To Ox Home Page<!--<span class="dot"></span>--></h2>
                        <div class="wow fadeInUp" data-wow-delay="0.5s"><q>Ox Home Page provides information ...</q></div>
                        <div class="wow fadeInUp" data-wow-delay="0.7s">
                            <a href="@Url.Action("Index", "Image")" class="bttn bttn-lg bttn-primary">Go to Ox Image</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--Header-Area-/-->
<!-- About-Area -->
<section class="section-padding" id="about-area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-5">
                <div class="page-title">
                    <h2 class="title wow fadeInUp">We Offer App With Mobile</h2>
                    <div class="wow fadeInUp" data-wow-delay="0.5s">
                        <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you.</p>
                    </div>
                </div>
                <div class="wow fadeInUp" data-wow-delay="0.7s">
                    <a href="#" class="bttn bttn-primary">Learn More</a>
                </div>
            </div>
            <div class="hidden-xs col-sm-6 col-md-offset-1">
                <img src="images/work-1.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<!-- About-Area / -->

<section class="section-padding gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="video-box">
                    <img src="images/video-image.png" alt="">
                    <a href="https://www.youtube.com/watch?v=7e90gBu4pas" class="video-bttn"><img src="images/video-button.png" alt=""></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1 wow fadeInUp">
                <div class="page-title">
                    <h2 class="title">Why Choose Us?</h2>
                    <ul class="tabs-list">
                        <li class="active"><a data-toggle="pill" href="#our_mission">Our Mission</a></li>
                        <li><a data-toggle="pill" href="#our_vission">Our Vission</a></li>
                        <li><a data-toggle="pill" href="#our_support">Our Support</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div id="our_mission" class="tab-pane fade in active">
                        <h4 class="upper thing">SINCE WE HAVE 25 YEARS </h4>
                        <h3 class="upper">EXPERIENCE IN THIS PASSION</h3>
                        <p>Aenean rutrum, lorem sed cursus tristique, turpis velit ullamcorper ligula, id pretium elit augue in libero. Suspendisse in porttitor orci. Pellentesque vel gravida augue.</p>
                        <br />
                        <a href="#" class="bttn bttn-sm bttn-primary">View More</a>
                    </div>
                    <div id="our_vission" class="tab-pane fade">
                        <h4 class="upper thing">SINCE WE HAVE 25 YEARS </h4>
                        <h3 class="upper">EXPERIENCE IN THIS PASSION</h3>
                        <p>Aenean rutrum, lorem sed cursus tristique, turpis velit ullamcorper ligula, id pretium elit augue in libero. Suspendisse in porttitor orci. Pellentesque vel gravida augue.</p>
                        <br />
                        <a href="#" class="bttn bttn-sm bttn-primary">View More</a>
                    </div>
                    <div id="our_support" class="tab-pane fade">
                        <h4 class="upper thing">SINCE WE HAVE 25 YEARS </h4>
                        <h3 class="upper">EXPERIENCE IN THIS PASSION</h3>
                        <p>Aenean rutrum, lorem sed cursus tristique, turpis velit ullamcorper ligula, id pretium elit augue in libero. Suspendisse in porttitor orci. Pellentesque vel gravida augue.</p>
                        <br />
                        <a href="#" class="bttn bttn-sm bttn-primary">View More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-padding" id="service-area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="feature-box wow fadeInUp" data-wow-delay="0.2s">
                    <div class="box-icon">
                        <i class="icofont icofont-idea"></i>
                    </div>
                    <h4>Unique Design</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    <a href="#" class="read-more">Read More</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="feature-box wow fadeInUp" data-wow-delay="0.4s">
                    <div class="box-icon">
                        <i class="icofont icofont-code-alt"></i>
                    </div>
                    <h4>Clean Layout</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    <a href="#" class="read-more">Read More</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="feature-box wow fadeInUp" data-wow-delay="0.6s">
                    <div class="box-icon">
                        <i class="icofont icofont-monitor"></i>
                    </div>
                    <h4>Well Responsive</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    <a href="#" class="read-more">Read More</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="feature-box wow fadeInUp" data-wow-delay="1.2s">
                    <div class="box-icon">
                        <i class="icofont icofont-chart-bar-graph"></i>
                    </div>
                    <h4>Pro Developing</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    <a href="#" class="read-more">Read More</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="feature-box wow fadeInUp" data-wow-delay="1s">
                    <div class="box-icon">
                        <i class="icofont icofont-files"></i>
                    </div>
                    <h4>Well Documented</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    <a href="#" class="read-more">Read More</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="feature-box wow fadeInUp" data-wow-delay="0.8s">
                    <div class="box-icon">
                        <i class="icofont icofont-money-bag"></i>
                    </div>
                    <h4>Quick Marketing</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    <a href="#" class="read-more">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-padding gray-bg">
    <div class="container">
        <div class="row counters" id="countup">
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="count-box wow fadeInUp" data-wow-delay="0.2s">
                    <div class="count-icon">
                        <i class="icofont icofont-bag-alt"></i>
                    </div>
                    <span class="count_title">Days</span>
                    <h2 id="days">0</h2>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="count-box wow fadeInUp" data-wow-delay="0.4s">
                    <div class="count-icon">
                        <i class="icofont icofont-emo-simple-smile"></i>
                    </div>
                    <span class="count_title">Hours</span>
                    <h2 id="hours">0</h2>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="count-box wow fadeInUp" data-wow-delay="0.6s">
                    <div class="count-icon">
                        <i class="icofont icofont-businessman"></i>
                    </div>
                    <span class="count_title">Minutes</span>
                    <h2 id="minutes">0</h2>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="count-box wow fadeInUp" data-wow-delay="0.8s">
                    <div class="count-icon">
                        <i class="icofont icofont-money"></i>
                    </div>
                    <span class="count_title">Seconds</span>
                    <h2 id="seconds">0</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Skill-Area -->
<section class="section-padding gray-bg" id="skill-area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-5">
                <div class="page-title">
                    <h2 class="title wow fadeInUp">Our Professional Skill</h2>
                    <div class="wow fadeInUp">
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look.</p>
                    </div>
                </div>
                <div class="skills skills1 row">
                    <!-- main skill No. 1 -->
                    <div class="skill col-md-4 col-xs-6 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="chart chart1 center" data-percent="95">
                            <span class="counter">95</span>
                        </div>
                        <h6>WebDesign</h6>
                    </div>
                    <!-- main skill No. 2 -->
                    <div class="skill col-md-4 col-xs-6 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="chart chart1 center" data-percent="85">
                            <span class="counter">85</span>
                        </div>
                        <h6>Coding</h6>
                    </div>
                    <!-- main skill No. 3 -->
                    <div class="skill col-md-4 col-xs-6 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="chart chart1 center" data-percent="90">
                            <span class="counter">90</span>
                        </div>
                        <h6>Developing</h6>
                    </div>
                    <!-- main skill No. 4 -->
                    <div class="skill col-md-4 col-xs-6 wow fadeInUp" data-wow-delay="1.2s">
                        <div class="chart chart1 center" data-percent="95">
                            <span class="counter">95</span>
                        </div>
                        <h6>Java Script</h6>
                    </div>
                    <!-- main skill No. 4 -->
                    <div class="skill col-md-4 col-xs-6 wow fadeInUp" data-wow-delay="1s">
                        <div class="chart chart1 center" data-percent="85">
                            <span class="counter">85</span>
                        </div>
                        <h6>Apps Design</h6>
                    </div>
                    <!-- main skill No. 4 -->
                    <div class="skill col-md-4 col-xs-6 wow fadeInUp" data-wow-delay="0.8s">
                        <div class="chart chart1 center" data-percent="90">
                            <span class="counter">90</span>
                        </div>
                        <h6>Graphics Script</h6>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-offset-1">
                <img src="images/skill-image.png" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Skill-Area / -->
<!-- Contact-Area -->
<section class="section-padding" id="contact-area">
    <div class="contact-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title">
                        <h3 class="bar-title">Contact Now</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="contact-form">
                        <form action="process.php" id="contact-form" method="post">
                            <div class="form-double">
                                <input type="text" id="form-name" name="form-name" placeholder="Full Name" required="required">
                                <input type="number" placeholder="Phone Number">
                            </div>
                            <div class="form-double">
                                <input type="email" name="form-email" id="form-email" placeholder="Your Email" required="required">
                                <input type="text" name="form-subject" id="form-subject" placeholder="Subject" required="required">
                            </div>
                            <textarea name="form-message" id="form-message" rows="5" required="required" placeholder="Message"></textarea>
                            <button class="bttn bttn-primary">Send Now</button>
                        </form>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="contact-info">
                        <ul class="info">
                            <li>
                                <span class="info-icon">
                                    <i class="icofont icofont-social-google-map"></i>
                                </span>Ho Chi Minh City <br />Viet Nam
                            </li>
                            <li>
                                <span class="info-icon">
                                    <i class="icofont icofont-ui-cell-phone"></i>
                                </span> (+84) 968 968 454
                            </li>
                            <li>
                                <span class="info-icon">
                                    <i class="icofont icofont-envelope"></i>
                                </span> trucvovttt@gmail.com
                            </li>
                        </ul>
                        <div class="social-menu-2">
                            <a href="#"><i class="icofont icofont-social-twitter"></i></a>
                            <a href="#"><i class="icofont icofont-social-skype"></i></a>
                            <a href="#"><i class="icofont icofont-social-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact-Area / -->
<div id="maps"></div>